@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0A192F; 
}

::-webkit-scrollbar-thumb {
    background: #013f3c7f; 
}

::-webkit-scrollbar-thumb:hover {
    background: #013f3c7f; 
}

i {
    cursor: pointer;
    transition: color 0.3s, font-size 0.3s; /* Smooth transition for color and font-size */
}

i:hover {
    color: #fff; 
    font-size: larger; 
}
